.oikein {
    background-color: green;
}

.vaarin {
    background-color: red;
}

.oikea_vastaus {
    font-weight: bold;
    color: black !important;
}

.vastaus_teksti {
    color: black !important;
}

.piilotettu {
    display: none;
}
.fake-body {
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}


