/* 
    Author     : Lauri Köykkä
*/

main div {
    margin-bottom: 15px;
}

/*
    Matematiikkatehtävässä käytetyn laatikon, jossa on menestymistä kuvaavat 
    merkit, tyylimäärittelyt.
*/
#menestyminen {
    border-radius: 10px;
    border-color: #0275d8;
    border-width: 5px;
    border-style: solid;
}
#menestyminen p {
    border-bottom: solid black 5px;
}

/*
    Tehtävärungon pituus.
*/
label {
    height: 38px;
}

/*
    Class-määrittelyt piilotetuille osille.
*/
.piilotettu {
    display: none;
}

/*
    Värimäärittelyt matematiikkatehtävässä käytetyissä oikein ja väärin merkeissä.
*/
.vihrea {
    color: green;
}
.harmaa {
    color: grey;
}
.punainen {
    color: red;
    margin-right: 8px;
    margin-left: 9px;
}

