/* author: Juhani Moilanen */

body{
    font-size: 20px;
    color: #333;
  text-align: center;
  background-color: #f8f6f0;
}
/* matikkapelin määrittelyjä */
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
.oikein {
  background-color: greenyellow;
}

.vaarin {
  background-color: orangered;
}

.oikea_vastaus {
  font-weight: bold;
  color: black !important;
}

.vastaus_teksti {
  color: black !important;
}

.piilotettu {
  display: none;
}
.fake-body {
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}
button{
  
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;

}

.divbutton {
  text-align: center;

}

button:hover{
    background-color: #38a;
}
main{
  height: auto;
  font-family: arial;
}
.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2; 
}
.quiz-container{
  height: 200px;
  margin-top: 40px;
  position: relative;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

/* footer tyylimäärittelyt */
.footerlogo{
  max-height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.footer{
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: bottom;
}
.footertext{
  font-size: 20px;
  font-family: 'Muli', sans-serif;
}
.harmaatausta{
  background-color: #cccccc;
}
.dropdown-menu {
  border: none;
  border-radius: 0px;    
}


/* dropdown-menun reunojen määrittelyt */
.dropdown-menu {
  border: none;
  border-radius: 0px;
  border-radius: 10px;    
}
/* navigaation reunojen määrittelyt */
nav {
  border-radius: 10px;
}

div {
  border-radius: 10px;
}
