/*author: Kalle Jämsä */
.oikein {
  background-color: greenyellow;
}

.vaarin {
  background-color: orangered;
}

.oikea_vastaus {
  font-weight: bold;
  color: black !important;
}

.vastaus_teksti {
  color: black !important;
}

.piilotettu {
  display: none;
}
main{
  height: auto;
}
div{
  
  padding-bottom: 10px;
}
button{
  padding-bottom: 10px;
}
img{
  margin-top: 10px;
}
.kys{
  font-size: 150%;
}
.moti{
  height: 150px;
}
.tehtava{
  font-size: 150%;
}