/*Kalle Jämsä, Johannes Ahola, Lauri Köykkä, Juhani Moilanen*/

/* Navigaation tyylimäärittelyt */
nav {
    border-radius: 10px;
    margin-top: 15px;
}

.dropdown-menu {
    border: none;    
    border-radius: 10px;    
}

.dropdowntausta{
    background-color: #cccccc;
}
.musta {
    color: #000;
}

/* Sivun perustyylimäärittelyt */

main {       
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}    

body {    
    background-image: url('../img/lake.jpg');   
}

/* Kuvien määrittelyt */

img {
    max-width: 100%;
}

/* footer tyylimäärittelyt */
.footerlogo{
    max-height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.footer{
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.footertext{
    font-size: 20px;
    font-family: 'Muli', sans-serif;
}
.harmaatausta{
    background-color: rgba(204, 204, 204, 0.6);
}
.kuva{
    display: inline-block;
    
}

.carousel-inner > .item > img {
    margin: 0 auto;
  }

      
 
.korkeus{
    height: 380px;
}
h3{
    padding-top: 5px;
}
.pattinki{
    padding-bottom: 10px;
}

.fonttia{
    font-size: 1.5em;
    font-family: arial;
    font-weight: bold;
}
/* jamsa math määrittelyt */
.kentta{
    width: 300px;
    margin:auto;
    margin-bottom: 10px;
}
.tehtava{
    font-size: 150%;
}
.oikea{
    color: darkgreen;
}
.vaara{
    color: darkred;
}
.kysymys{
    font-weight: bold;
    border-style: solid;
    width: 200px;
    border-radius: 10px;
    border-width: thin;
    border-color: dimgray;
    margin: auto;
}